---
Gemfile:
  required:
  - gem: rake
  - gem: rspec
    version: '~> 3.0'
  - gem: rspec-puppet
    version: '~> 2.3'
  - gem: rspec-puppet-facts
    version: '>= 1.7'
  - gem: puppetlabs_spec_helper
    version: ">= 2.1.1"
  - gem: puppet-lint
    version: '>= 2'
  - gem: puppet-lint-classes_and_types_beginning_with_digits-check
  - gem: puppet-lint-empty_string-check
  - gem: puppet-lint-file_ensure-check
  - gem: puppet-lint-leading_zero-check
  - gem: puppet-lint-param-docs
    version: '>= 1.3.0'
  - gem: puppet-lint-spaceship_operator_without_tag-check
  - gem: puppet-lint-strict_indent-check
  - gem: puppet-lint-trailing_comma-check
  - gem: puppet-lint-undef_in_function-check
  - gem: puppet-lint-unquoted_string-check
  - gem: puppet-lint-variable_contains_upcase
  - gem: puppet-lint-version_comparison-check
  - gem: simplecov
  - gem: github_changelog_generator
    version: '>= 1.15.0'
    options:
      groups:
      - 'development'
  - gem: puppet-blacksmith
    version: '>= 4.1.0'
    options:
      groups:
      - 'development'
  - gem: 'voxpupuli-acceptance'
    version: '~> 0.1'
    options:
      groups:
        - 'system_tests'
  - gem: metadata-json-lint
  - gem: kafo_module_lint
  - gem: parallel_tests
.puppet-lint.rc:
  default_disabled_lint_checks:
  - '140chars'
  - 'class_inherits_from_params_class'
.travis.yml:
  beaker_sets: []
  beaker_puppet_collections:
    - puppet5
    - puppet6
spec/spec_helper.rb:
  requires: []
  custom_facts: []
spec/spec_helper_acceptance.rb:
  install_epel: false
Rakefile:
  param_docs_pattern: []
