---
Gemfile:
  required:
  - gem: kafo_module_lint
    options:
      groups:
      - 'test'
  - gem: puppet-lint-empty_string-check
    options:
      groups:
      - 'test'
  - gem: puppet-lint-file_ensure-check
    options:
      groups:
      - 'test'
  - gem: puppet-lint-param-docs
    version: '>= 1.3.0'
    options:
      groups:
      - 'test'
  - gem: puppet-lint-spaceship_operator_without_tag-check
    options:
      groups:
      - 'test'
  - gem: puppet-lint-strict_indent-check
    options:
      groups:
      - 'test'
  - gem: puppet-lint-undef_in_function-check
    options:
      groups:
      - 'test'
  - gem: voxpupuli-test
    version: '~> 1.4'
  - gem: github_changelog_generator
    version: '>= 1.15.0'
    options:
      groups:
      - 'development'
  - gem: 'puppet_metadata'
    version: '~> 0.3'
  - gem: puppet-blacksmith
    version: '>= 6.0.0'
    options:
      groups:
      - 'development'
  - gem: 'voxpupuli-acceptance'
    version: '~> 1.0'
    options:
      groups:
        - 'system_tests'
.puppet-lint.rc:
  default_disabled_lint_checks:
  - '140chars'
  - 'class_inherits_from_params_class'
.github/workflows/acceptance.yml:
  delete: true
.github/workflows/unit.yml:
  delete: true
.github/workflows/cron.yml:
  delete: true
.github/workflows/ci.yml:
  beaker_fact_matrix: {}
  excludes: []
  pidfile_workaround: false
spec/spec_helper.rb:
  requires: []
  custom_facts: []
spec/spec_helper_acceptance.rb:
  install_epel: false
Rakefile:
  param_docs_pattern: []
