---
Gemfile:
  required:
  - gem: rake
  - gem: rspec-puppet
    version: '~> 2.0'
  - gem: puppetlabs_spec_helper
    version: '>= 0.8.0'
  - gem: puppet-lint
    version: '>= 1'
  - gem: puppet-lint-unquoted_string-check
  - gem: puppet-lint-empty_string-check
  - gem: puppet-lint-spaceship_operator_without_tag-check
  - gem: puppet-lint-variable_contains_upcase
  - gem: puppet-lint-absolute_classname-check
  - gem: puppet-lint-undef_in_function-check
  - gem: puppet-lint-leading_zero-check
  - gem: puppet-lint-trailing_comma-check
  - gem: puppet-lint-file_ensure-check
  - gem: puppet-lint-param-docs
    version: '>= 1.3.0'
  - gem: simplecov
  - gem: puppet-blacksmith
    version: '>= 3.1.0'
    options:
      groups:
      - 'development'
  - gem: rest-client
    version: '< 1.7'
    options:
      platforms:
      - 'ruby_18'
      groups:
      - 'development'
  - gem: mime-types
    version: '~> 1.0'
    options:
      platforms:
      - 'ruby_18'
      groups:
      - 'development'
  - gem: rspec-puppet-facts
  - gem: metadata-json-lint
.puppet-lint.rc:
  default_disabled_lint_checks:
  - '80chars'
  - 'class_inherits_from_params_class'
spec/spec_helper.rb:
  requires: []
Rakefile:
  param_docs_pattern: []
